<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("新益貿易股份有限公司", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("關於", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("連絡方式", "Contact", "Home")</li>*@

                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Site map</a></li>

                    <li class="dropdown">
                        <a role="button" data-toggle="dropdown" href="#">
                            About Us
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="#" role="menuitem">Mission and Values</a>
                            </li>
                            <li role="presentation">
                                <a href="#" role="menuitem">Management</a>
                            </li>
                            <li role="presentation">
                                <a href="#" role="menuitem">History</a>
                            </li>
                            <li role="presentation">
                                <a href="#" role="menuitem">Social Responsibility</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown">Product
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="#" role="menuitem">Medicines</a>
                            </li>
                            <li role="presentation">
                                <a href="#" role="menuitem">OTC products</a>
                            </li>
                        </ul>
                    </li>
                   
                     <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown">
                            Partnering
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="#" role="menuitem">Domestic</a>
                            </li>
                            <li role="presentation">
                                <a href="#" role="menuitem">International</a>
                            </li>
                        </ul>
                    </li>
                   
                     <li><a href="#">Latest News</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown">
                            Chinese/English
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="#" role="menuitem">Chinese</a>
                            </li>
                            <li role="presentation">
                                <a href="#" role="menuitem">English</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                    @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 新益股份有限公司</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
